

body{
	background-color: 	#252525;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.contrainer{
	width: 100vw;
}

.control{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

.calcontrol{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.title{
	font-family: sans-serif	;	
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: max;
}
.Anttitle{
	font-family: sans-serif	;	
	font-weight: bolder;
	display: flex;
	align-items: center;
	width: max;
	border: 10vh;
	margin: 3vh;
}

.imgtext{
	margin-top: 3vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70vh;
	width: max;
}
.textcontrol{
	display: flex;
	align-items: center;
	padding-right: 3vw;
}
.link{
	color: inherit;
}

.info{
	font-family: sans-serif	;
	font-weight: bold;	
/*	height: 10vh;*/
	width: max;
	display: flex;
	align-items: end;
	justify-content: center;
	text-align: center;

}

.header{
	padding-top: 1vw;
	padding-left: 1vw;
	font-size: 100px;
	color: white;
	font-family: sans-serif	;
	font-weight: bold;
	margin: 0;
	text-align: center;
}
.aboutme{
	font-family: sans-serif	;
	font-weight: bold;
	color: white;
	font-size: 4vw;
	text-align: center;
}
.about{
	font-family: sans-serif	;
	font-weight: bold;
	color: white;
	font-size: 5vw;
	text-align: center;
	width: 50vw;
	height: auto;
	padding-left: 2vw;
}

.aboutsmaller{
	font-family: sans-serif	;
	font-weight: bold;
	color: white;
	font-size: 2.5vw;
	text-align: center;
	width: 50vw;
	height: auto;
	padding-left: 2vw;

}

.aboutsmaller2{
	font-family: sans-serif	;
	font-weight: bold;
	color: white;
	font-size: 2vw;
	text-align: center;
	width: 50vw;
	height: auto;
	padding-left: 2vw;
}
.aboutsmaller3{
	font-family: sans-serif	;
	font-weight: bold;
	color: white;
	font-size: 1.7vw;
	text-align: center;
	width: 50vw;
	height: auto;
	padding-left: 2vw;
}


.img{
	width: auto;
	height: 60vh;
	border: 5px solid gray;
	margin-right: 1vw;
	margin-left: 1vw;
}
.img2{
	height: auto;
	width: 25vw;
	border: 5px solid gray;
	margin-right: 3vw;
	margin-left: 3w;

}

.twocoltext{
	padding-top: 2vh;
	margin-bottom: -5vh;
	display: flex;
	justify-content: space-between;

}
.twocol{
	padding-top: 2vh;
	margin-bottom: -5vh;
	display: flex;
	justify-content: space-between;
}

.imgdate{
	display: flex;
	justify-content: space-evenly;
}